.social-block {
  position: relative;

  &:hover {
    .social-block__list {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.social-block__toggler {
  @include btn-reset;
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-dark;
  border-radius: 50%;
  transition: color 0.4s;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: none;
  }

  &::before {
    @include center;
    content: "";
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 50%;
    background-color: $c-light;
    border: 2px solid $c-light;
    z-index: -1;
    transition-property: transform, opacity, width, height;
    transition-duration: 0.5s, 0s, 0.3s, 0.3s;
    transition-delay: 0s, 0.4s, 0.4s, 0.4s;
    transition-timing-function: ease, ease, cubic-bezier(.5,.92,.42,1.34), cubic-bezier(.5,.92,.42,1.34);
  }

  body.body-loaded &::before {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  body.body-loaded &:hover::before {
    transform: translate(-50%, -50%) scale(1.2);
  }

  svg {
    @include center;
    display: block;
    width: 2.3rem;
    height: 2.2rem;
    opacity: 0;
    transition: opacity 0.3s 0.4s;

    body.body-loaded & {
      opacity: 1;
    }
  }

  &:hover,
  .social-block--active & {
    color: $c-purple;
  }

  &:focus {
    color: $c-purple;
    outline: none;

    &::before {
      border-color: $c-purple;
    }

    & + .social-block__list {
      opacity: 1;
      pointer-events: auto;

      .social-block__link {
        opacity: 1;
      }
    }
  }

  &:active,
  &:active:focus {
    color: $c-light;

    &::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.social-block__list {
  @include list-reset;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 1.5rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;

  @media (min-width: $stop-scaling) {
    margin-top: 15px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 1.5rem;

    @media (min-width: $stop-scaling) {
      height: 15px;
    }
  }

  &:hover {
    opacity: 1;
    pointer-events: auto;
  }

  &:focus-within {
    opacity: 1;
    pointer-events: auto;
  }

  .social-block--active & {
    opacity: 1;
    pointer-events: auto;
  }

  .social-block--fade & {
    opacity: 1;
  }

  li {
    flex: none;
    margin-bottom: 0.5rem;

    @media (min-width: $stop-scaling) {
      margin-bottom: 5px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin: 0 1.25rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin: 0 1.25rem;
    }
  }
}

.social-block__link {
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-light;
  border: 2px solid transparent;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.4s, transform 1s;

  @media (min-width: $stop-scaling) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    color: $c-light;
    background-color: $c-dark;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    color: $c-light;
    background-color: $c-dark;
  }

  &:hover {
    color: $c-purple;
  }

  &:focus {
    color: $c-purple;
    background-color: $c-light;
    border-color: $c-purple;
    outline: none;
  }

  &:active,
  &:active:focus {
    color: $c-purple;
    background-color: $c-light;
    border-color: $c-light;
  }

  .social-block.social-block--active & {
    opacity: 1;
    transform: translateY(-5px);
  }

  .social-block.social-block--fade & {
    opacity: 1;
    transform: translateY(-5px);
  }

  .social-block.social-block--active &--fb {
    transition-property: transform, opacity, color;
    transition-duration: 0.4s, 0.4s, 0.3s;
  }

  .social-block.social-block--active &--insta {
    transition-property: transform, opacity, color;
    transition-duration: 0.4s, 0.4s, 0.3s;
    transition-delay: 0.1s, 0.1s, 0s;
  }

  .social-block.social-block--active &--vk {
    transition-property: transform, opacity, color;
    transition-duration: 0.4s, 0.4s, 0.3s;
    transition-delay: 0.2s, 0.2s, 0s;
  }

  svg {
    @include center;
  }

  &--fb {
    svg {
      width: 0.8rem;
      height: 1.7rem;

      @media (min-width: $stop-scaling) {
        width: 8px;
        height: 17px;
      }
    }
  }

  &--insta {
    svg {
      width: 1.5rem;
      height: 1.5rem;

      @media (min-width: $stop-scaling) {
        width: 15px;
        height: 15px;
      }
    }
  }

  &--vk {
    svg {
      width: 1.7rem;
      height: 1rem;

      @media (min-width: $stop-scaling) {
        width: 10px;
        height: 10px;
      }
    }
  }
}
